<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <title>Manage Your Idea</title>
    <link href="styles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/css/font-awesome.min.css" rel="stylesheet" />
    <link href="styles/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="styles/css/main.css" rel="stylesheet" />
</head>

<body>
    <div id="app_container">
        <div id="header">
            <button type="button" id="boards_dd" class="btn btn-default" data-toggle="dropdown">Boards</button>
        </div>
        <div id="body">
            <div id="menu_container"></div>
            <div id="board_container"></div>
        </div>
    </div>
    <script type="text/template" id="activity_view">
        <div class="activity">
            <a href="javascript:void" class="user-avatar">
                <img src="<%= avatar %>" alt="anonymous" />
            </a>
            <div class="action-log">
                <span class="log-body">
                    <a href="javascript:void(0);"><%= userName %></a> <%= actionText %>
                </span>
                <br /><span class="log-time"><%= timestamp %></span>
            </div>
        </div>
    </script>
    <script type="text/template" id="board_view">
        <div class="board-header">
            <div class="board-title"><%= board_title %></div>
        </div>
        <div id="lists_container" class="custom-scroll">

            <div class="list-container new-list">
                <div class="list-rename">
                    <input type="text" class="input-listname" />
                    <button class="btn save-listname">SAVE</button>&nbsp;
                    <button class="btn cancel-list-rename">X</button>
                </div>
                <div class="list-adder">
                    <a href="javascript:void(0);" id="add_new_list">Add a list ...</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="card_list_view">
        <div id="list<%= listid %>" class="list-container droppable">
            <div class="list panel">
                <div class="list-rename">
                    <input type="text" class="input-listname" />
                    <button class="btn save-listname">SAVE</button>&nbsp;
                    <button class="btn cancel-list-rename">X</button>
                </div>
                <div class="list-header" data-listid="<%= listid %>">
                    <span><%= list_header %></span>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="cards-container custom-scroll">
                    <div class="list-drop" rel="list<%= listid %>">
                        <div class="drop-header">
                            <span>List Actions</span>
                            <i class="fa fa-times"></i>
                        </div>
                        <div class="divider"></div>
                        <div class="drop-body custom-scroll">
                            <div class="drop-lists">
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="add-new-card">Add Card</a>
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="copy-list">Copy List</a>
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="archive-all-cards">Archive All Cards</a>
                            </div>
                            <div class="divider"></div>
                            <div class="drop-lists">
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="archive-list">Archive List</a>
                            </div>
                        </div>
                    </div>
                    <% 
                    if(cards != null && cards.length > 0) {
                        for(var i = 0; i < cards.length; i++) {
                    %>
                    <div class="card <%= (cards[i].status == 1) ? '' : 'inactive' %>"><%= cards[i].detail %></div>
                    <%
                        }
                    }
                    %>
                    <div class="add-card-container">
                        <input type="text" class="input-cardname" />
                        <button class="btn add-card">Add</button>&nbsp;
                        <button class="btn cancel-card-add">X</button>
                    </div>
                </div>
                <div class="list-footer">
                    <a href="javascript:void(0);" class="add-new-card">Add a card ...</a>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="menu_view">
        <div id="hide_activity_menu"><i class="fa fa-arrow-right"></i></div>
        <div id="activity_menu_container" class="custom-scroll">
            <div class="menu-header">Menu</div>
            <div class="activities">
                <h4>Activity</h4>
                <% 
                if(activities != null && activities.length > 0) {
                    for(var i = 0; i < activities.length; i++) {
                %>
                <div class="activity">
                    <a href="javascript:void" class="user-avatar">
                        <img src="<%= activities[i].avatar %>" alt="anonymous" />
                    </a>
                    <div class="action-log">
                        <span class="log-body">
                            <a href="javascript:void(0);"><%= activities[i].userName %></a> <%= activities[i].actionText %>
                        </span>
                        <br /><span class="log-time"><%= activities[i].timestamp %></span>
                    </div>
                </div>
                <%
                    }
                }
                %>
            </div>
        </div>
        <a href="javascript:void(0);" id="show_activity_menu">
            <i class="fa fa-arrow-left"></i>
            <span>Show menu</span>
        </a>
    </script>
    <script src="scripts/vendor.bundle.js"></script>
    <script src="scripts/app.bundle.js"></script>
</body>

</html>
