body {
    background-color: #313135;
    color: #ebebeb;
}

a {
    color: #222222;
    text-decoration: none;
    vertical-align: top;
}

a:hover {
    color: #555555;
    text-decoration: none;
}

#boards_dd {
    background-color: #777;
    border-color: #777;
    color: #fff;
    outline: none;
    height: 30px;
    line-height: 17px;
}

#lists_container {
    padding: 5px 10px;
    margin: 0 10px 5px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.list-container {
    padding: 8px;
    margin-right: 5px;
    max-height: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 316px;
    -ms-flex: 0 0 316px;
    flex: 0 0 316px;
}

.list-container.new-list {
}

.list {
    width: 300px;
    display: block;
    background-color: #C0C0C4;
    margin: 0px !important;
    overflow: hidden;
    position: relative;
}

#header {
    background: #45454A;
    width: 100%;
    height: 30px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    z-index: 10;
}

#body {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}

.list-header {
    font-size: 16px;
    font-weight: bold;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    min-height: 20px;
    color: #333333;
}

.cards-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#app_container {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.card {
    background-color: #F4F4F5;
    margin: 1px 10px 8px;
    padding: 2px 6px;
    border-radius: 3px;
    box-shadow: 0px 2px 1px #999;
    min-height: 40px;
    color: #333;
}

.custom-scroll {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0)
}

.custom-scroll::-webkit-scrollbar {
    height: 9px;
    width: 9px
}

.custom-scroll::-webkit-scrollbar-button:end:increment,
.custom-scroll::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: none
}

.custom-scroll::-webkit-scrollbar-track-piece {
    background: #d6dadc
}

.custom-scroll::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 5px 5px 0 0
}

.custom-scroll::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 5px 5px
}

.custom-scroll::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px
}

.custom-scroll::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0
}

.custom-scroll::-webkit-scrollbar-thumb:horizontal,
.custom-scroll::-webkit-scrollbar-thumb:vertical {
    background: #45454A;
    border-radius: 5px;
    display: block;
    height: 50px
}

.list-footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 5px 10px;
}

.list-adder {
    width: 280px;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #45454A;
    cursor: pointer;
}

.list-adder a {
    color: #C0C0C4;
}

.list-adder:hover {
    background-color: #707070;
}

.board-header {
    height: 30px;
    padding: 2px 28px;
    margin-top: 10px;
}

.board-title {
    margin: 2px 10px 0 0;
    font-size: 18px;
}

#activity_menu_container {
    height: 100%;
    width: 250px;
    background-color: #C0C0C4;
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 1;
    border-radius: 5px 0 0 0;
    display: block;
    overflow: auto;
}

#show_activity_menu {
    position: absolute;
    right: 30px;
    top: 13px;
    color: #ebebeb;
    padding: 5px 10px 5px 8px;
    border-radius: 5px;
}

#show_activity_menu:hover {
    background-color: #45454A;
}

#show_activity_menu > span {
    text-decoration: underline;
    margin-left: 8px;
}

#hide_activity_menu {
    background-color: #C0C0C4;
    color: #222;
    width: 30px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 250px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}

#hide_activity_menu:hover {
    background-color: #777;
}

.menu-header {
    background-color: #999999;
    margin: 4px 8px;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 16px;
}

.activities {
    margin: 10px;
    color: #333333;
    border-top: 1px solid #999;
}

.user-avatar {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 2px 1px #999;
    overflow: hidden;
    margin-right: 3px;
    vertical-align: middle;
}

.action-log {
    vertical-align: top;
    width: 187px;
    display: inline-block;
}

.user-avatar > img {
    width: 25px;
}

.activities > h3 {
    margin: 0;
    padding: 10px 0;
}

.log-body > a {
    font-weight: bold;
}

.log-body {
}

.log-time {
    color: #666666;
    font-size: 12px;
}

.activity {
    padding-bottom: 8px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}

.card.inactive {
    opacity: 0.4;
}

.list-rename {
    font-size: 16px;    font-weight: bold;
    -webkit-box-flex: 0;    -webkit-flex: 0 0 auto;    -ms-flex: 0 0 auto;    flex: 0 0 auto;    padding: 8px 10px;    position: relative;    min-height: 20px;    color: #333333;
    display: none;
}

.input-listname {
    background: rgba(0,0,0,.03);    border-color: rgba(0,0,0,.15);    box-shadow: inset 0 1px 6px rgba(0,0,0,.1);    
    margin-bottom: 6px;
    width: 91%;
    height: 26px;
    padding: 0 10px;
    outline: none;
}

.list-rename .btn {
    height: 30px;
    line-height: 17px;
    font-weight: bold;
    color: #FFF;
}

.btn.save-listname {
    background-color: #5aac44;
}

.btn.cancel-list-rename {
    /* font-size: 20px; */
    background-color: #777;
}

.new-list > .list-rename {
    background-color: #C0C0C4;
    border-radius: 5px;
}

.list-header > span {
    cursor: pointer;
    display: inline-block;
    max-width: 90%;
}

.list-header > .fa-angle-down {
    float: right;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: top;
}

.list-drop {
    width: 280px;
    background-color: #EBEBEB;
    margin: 0 auto;
    border-radius: 5px 0 5px 5px;
    display: none;
    z-index: 10;
    /* position: absolute; */
    /* left: 10px; */
}

.dropd-header {
    text-align: center;
    font-size: 16px;
    padding: 12px 10px 0px 10px;
}

.drop-header > .fa-times {
    float: right;
    margin-top: 2px;
    cursor: pointer;
}

.divider {
    height: 0;
    border-bottom: 1px solid #FFF;
    box-shadow: 0px 1px 1px #999;
    margin: 10px;
}

.drop-lists > a {
    display: block;
    /* background-color: #FFF; */
    margin: 5px 0px;
    padding: 2px 12px;
}

.drop-lists > a:hover {
    background-color: #777;
    color: #F0F0F0;
}

.drop-lists {
    margin: 10px 0;
    min-height: 36px;
}

.list-drop > .drop-header {
    color: #777;
    text-align: center;
    padding: 10px 10px 0 10px;
}