<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <title>Manage Your Idea</title>
    <link href="styles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/css/font-awesome.min.css" rel="stylesheet" />
    <link href="styles/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="styles/css/main.css" rel="stylesheet" />
</head>

<body>
    <div id="app_container">
        <div id="header">
            <button type="button" id="boards_dd" class="btn btn-default" data-toggle="dropdown">Boards</button>
        </div>
        <div id="body">
            <div id="menu_container"></div>
            <div id="board_container"></div>
        </div>
    </div>
