    <script type="text/template" id="activity_view">
        <div class="activity">
            <a href="javascript:void" class="user-avatar">
                <img src="<%= avatar %>" alt="anonymous" />
            </a>
            <div class="action-log">
                <span class="log-body">
                    <a href="javascript:void(0);"><%= userName %></a> <%= actionText %>
                </span>
                <br /><span class="log-time"><%= timestamp %></span>
            </div>
        </div>
    </script>