    <script type="text/template" id="activity_view">
        <div class="activity">
            <a href="javascript:void" class="user-avatar"><img src="images/anonymous-45x45.jpg" alt="anonymous" /></a>
            <div class="action-log">
                <span class="log-body">
                    <a href="javascript:void(0);">Anonymous</a> Added a list 'List Title'
                </span>
                <span class="log-time">June 7 at 8:30 P.M.</span>
            </div>
        </div>
    </script>