    <script type="text/template" id="card_list_view">
        <div id="list<%= listid %>" class="list-container droppable">
            <div class="list panel">
                <div class="list-rename">
                    <input type="text" class="input-listname" />
                    <button class="btn save-listname">SAVE</button>&nbsp;
                    <button class="btn cancel-list-rename">X</button>
                </div>
                <div class="list-header" data-listid="<%= listid %>">
                    <span><%= list_header %></span>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="cards-container custom-scroll">
                    <div class="list-drop" rel="list<%= listid %>">
                        <div class="drop-header">
                            <span>List Actions</span>
                            <i class="fa fa-times"></i>
                        </div>
                        <div class="divider"></div>
                        <div class="drop-body custom-scroll">
                            <div class="drop-lists">
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="add-new-card">Add Card</a>
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="copy-list">Copy List</a>
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="archive-all-cards">Archive All Cards</a>
                            </div>
                            <div class="divider"></div>
                            <div class="drop-lists">
                                <a href="javascript:void(0);" data-listid="<%= listid %>" class="archive-list">Archive List</a>
                            </div>
                        </div>
                    </div>
                    <% 
                    if(cards != null && cards.length > 0) {
                        for(var i = 0; i < cards.length; i++) {
                    %>
                    <div class="card <%= (cards[i].status == 1) ? '' : 'inactive' %>"><%= cards[i].detail %></div>
                    <%
                        }
                    }
                    %>
                    <div class="add-card-container">
                        <input type="text" class="input-cardname" />
                        <button class="btn add-card">Add</button>&nbsp;
                        <button class="btn cancel-card-add">X</button>
                    </div>
                </div>
                <div class="list-footer">
                    <a href="javascript:void(0);" data-listid="<%= listid %>" class="add-new-card">Add a card ...</a>
                </div>
            </div>
        </div>
    </script>