    <script type="text/template" id="card_list_view">
        <div class="list-container droppable">
            <div class="list panel">
                <div class="list-header">
                    <%= list_header %>
                </div>
                <div class="cards-container custom-scroll">
                    <% 
                        if(cards != null && cards.length > 0) {
                            for(var i = 0; i < cards.length; i++) {
                    %>
                    <div class="card <%= (cards[i].active) ? '' : 'inactive' %>"><%= cards[i].detail %></div>
                    %>
                            }
                        }
                    %>
                    <div class="card">This is the first card of this application</div>
                    <div class="card">This is the second card of this application</div>
                    <div class="card inactive">This is the third card of this application</div>
                    <div class="card inactive">This is the fourth card of this application</div>
                </div>
                <div class="list-footer">
                    <a href="javascript:void(0);" class="add-new_card">Add a card ...</a>
                </div>
            </div>
        </div>
    </script>