    <script type="text/template" id="menu_view">
        <div id="hide_activity_menu"><i class="fa fa-arrow-right"></i></div>
        <div id="activity_menu_container" class="custom-scroll">
            <div class="menu-header">Menu</div>
            <div class="activities">
                <h4>Activity</h4>
                <% 
                if(activities != null && activities.length > 0) {
                    for(var i = 0; i < activities.length; i++) {
                %>
                <div class="activity">
                    <a href="javascript:void" class="user-avatar">
                        <img src="<%= activities[i].avatar %>" alt="anonymous" />
                    </a>
                    <div class="action-log">
                        <span class="log-body">
                            <a href="javascript:void(0);"><%= activities[i].userName %></a> <%= activities[i].actionText %>
                        </span>
                        <br /><span class="log-time"><%= activities[i].timestamp %></span>
                    </div>
                </div>
                <%
                    }
                }
                %>
            </div>
        </div>
        <a href="javascript:void(0);" id="show_activity_menu">
            <i class="fa fa-arrow-left"></i>
            <span>Show menu</span>
        </a>
    </script>